# Django Environment Variables Configuration Template
# Copy this file to .env and configure secrets accordingly

DEBUG=True
SECRET_KEY=django-insecure-thdppk7zy65cn5ulotvk3wk6+9h0r((l0u=-c(3&-0i=#)+elu
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=True
